<h1>Admin Dashboard</h1>


<table class="table table-bordered">
 <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"><h4>Total</h4></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><h4>Categories</h4></td>
      <td><h4><%= @category_count %></h4></td>
    </tr>
    <tr>
      <td><h4>Products</h4></td>
      <td><h4><%= @product_count %></h4></td>
    </tr>

  </tbody>
</table>

<div>
    <%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>
  </div>