<h1>Welcome to the Jungle</h1>

<h4> Jungle is a market place where you can list/purchase the latest and greatest products. Find the wackiest apparel, the coolest electronic devices, and some really comfortable furniture pieces. You will be the envy of all your friends and family when you show them your sweet new thangs from Jungle. Sign up with Jungle today!</h4>

<h5>This project was created by Lighthouse Labs and updated by Katie Herda.</h5>